<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>邮储银行·绿卡通</string>
	<string>邮储银行·绿卡银联标准卡</string>
	<string>邮储银行·绿卡银联标准卡</string>
	<string>邮储银行·绿卡专用卡</string>
	<string>邮储银行·绿卡银联标准卡</string>
	<string>邮储银行·绿卡(银联卡)</string>
	<string>邮储银行·绿卡VIP卡</string>
	<string>邮储银行·银联标准卡</string>
	<string>邮储银行·中职学生资助卡</string>
	<string>邮政储蓄银行·IC绿卡通VIP卡</string>
	<string>邮政储蓄银行·IC绿卡通</string>
	<string>邮政储蓄银行·IC联名卡</string>
	<string>邮政储蓄银行·IC预付费卡</string>
	<string>邮储银行·绿卡银联标准卡</string>
	<string>邮储银行·绿卡通</string>
	<string>邮政储蓄银行·武警军人保障卡</string>
	<string>邮政储蓄银行·中国旅游卡（金卡）</string>
	<string>邮政储蓄银行·普通高中学生资助卡</string>
	<string>邮政储蓄银行·中国旅游卡（普卡）</string>
	<string>邮政储蓄银行·福农卡</string>
	<string>工商银行·牡丹运通卡金卡</string>
	<string>工商银行·牡丹运通卡金卡</string>
	<string>工商银行·牡丹运通卡金卡</string>
	<string>工商银行·牡丹VISA卡(单位卡)</string>
	<string>工商银行·牡丹VISA信用卡</string>
	<string>工商银行·牡丹VISA卡(单位卡)</string>
	<string>工商银行·牡丹VISA信用卡</string>
	<string>工商银行·牡丹VISA信用卡</string>
	<string>工商银行·牡丹VISA信用卡</string>
	<string>工商银行·牡丹VISA信用卡</string>
	<string>工商银行·牡丹运通卡普通卡</string>
	<string>工商银行·牡丹VISA信用卡</string>
	<string>工商银行·牡丹VISA白金卡</string>
	<string>工商银行·牡丹贷记卡(银联卡)</string>
	<string>工商银行·牡丹贷记卡(银联卡)</string>
	<string>工商银行·牡丹贷记卡(银联卡)</string>
	<string>工商银行·牡丹贷记卡(银联卡)</string>
	<string>工商银行·牡丹欧元卡</string>
	<string>工商银行·牡丹欧元卡</string>
	<string>工商银行·牡丹欧元卡</string>
	<string>工商银行·牡丹万事达国际借记卡</string>
	<string>工商银行·牡丹VISA信用卡</string>
	<string>工商银行·海航信用卡</string>
	<string>工商银行·牡丹VISA信用卡</string>
	<string>工商银行·牡丹万事达信用卡</string>
	<string>工商银行·牡丹万事达信用卡</string>
	<string>工商银行·牡丹万事达信用卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹万事达白金卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·海航信用卡个人普卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·E时代卡</string>
	<string>工商银行·E时代卡</string>
	<string>工商银行·理财金卡</string>
	<string>工商银行·准贷记卡(个普)</string>
	<string>工商银行·准贷记卡(个普)</string>
	<string>工商银行·准贷记卡(个普)</string>
	<string>工商银行·准贷记卡(个普)</string>
	<string>工商银行·准贷记卡(个普)</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·准贷记卡(商普)</string>
	<string>工商银行·牡丹卡(商务卡)</string>
	<string>工商银行·准贷记卡(商金)</string>
	<string>工商银行·牡丹卡(商务卡)</string>
	<string>工商银行·贷记卡(个普)</string>
	<string>工商银行·牡丹卡(个人卡)</string>
	<string>工商银行·牡丹卡(个人卡)</string>
	<string>工商银行·牡丹卡(个人卡)</string>
	<string>工商银行·牡丹卡(个人卡)</string>
	<string>工商银行·贷记卡(个金)</string>
	<string>工商银行·牡丹交通卡</string>
	<string>工商银行·准贷记卡(个金)</string>
	<string>工商银行·牡丹交通卡</string>
	<string>工商银行·贷记卡(商普)</string>
	<string>工商银行·贷记卡(商金)</string>
	<string>工商银行·牡丹卡(商务卡)</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹交通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·牡丹贷记卡</string>
	<string>工商银行·牡丹贷记卡</string>
	<string>工商银行·牡丹贷记卡</string>
	<string>工商银行·牡丹贷记卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·中央预算单位公务卡</string>
	<string>工商银行·牡丹灵通卡</string>
	<string>工商银行·财政预算单位公务卡</string>
	<string>工商银行·牡丹卡白金卡</string>
	<string>工商银行·牡丹卡普卡</string>
	<string>工商银行·国航知音牡丹信用卡</string>
	<string>工商银行·国航知音牡丹信用卡</string>
	<string>工商银行·国航知音牡丹信用卡</string>
	<string>工商银行·国航知音牡丹信用卡</string>
	<string>工商银行·银联标准卡</string>
	<string>工商银行·中职学生资助卡</string>
	<string>工商银行·专用信用消费卡</string>
	<string>工商银行·牡丹社会保障卡</string>
	<string>中国工商银行·牡丹东航联名卡</string>
	<string>中国工商银行·牡丹东航联名卡</string>
	<string>中国工商银行·牡丹运通白金卡</string>
	<string>中国工商银行·福农灵通卡</string>
	<string>中国工商银行·福农灵通卡</string>
	<string>工商银行·灵通卡</string>
	<string>工商银行·灵通卡</string>
	<string>中国工商银行·中国旅行卡</string>
	<string>工商银行·牡丹卡普卡</string>
	<string>工商银行·国际借记卡</string>
	<string>工商银行·国际借记卡</string>
	<string>工商银行·国际借记卡</string>
	<string>工商银行·国际借记卡</string>
	<string>中国工商银行·牡丹JCB信用卡</string>
	<string>中国工商银行·牡丹JCB信用卡</string>
	<string>中国工商银行·牡丹JCB信用卡</string>
	<string>中国工商银行·牡丹JCB信用卡</string>
	<string>中国工商银行·牡丹多币种卡</string>
	<string>中国工商银行·武警军人保障卡</string>
	<string>工商银行·预付芯片卡</string>
	<string>工商银行·理财金账户金卡</string>
	<string>工商银行·灵通卡</string>
	<string>工商银行·牡丹宁波市民卡</string>
	<string>中国工商银行·中国旅游卡</string>
	<string>中国工商银行·中国旅游卡</string>
	<string>中国工商银行·中国旅游卡</string>
	<string>中国工商银行·借记卡</string>
	<string>中国工商银行·借贷合一卡</string>
	<string>中国工商银行·普通高中学生资助卡</string>
	<string>中国工商银行·牡丹多币种卡</string>
	<string>中国工商银行·牡丹多币种卡</string>
	<string>中国工商银行·牡丹百夫长信用卡</string>
	<string>中国工商银行·牡丹百夫长信用卡</string>
	<string>工商银行·工银财富卡</string>
	<string>中国工商银行·中小商户采购卡</string>
	<string>中国工商银行·中小商户采购卡</string>
	<string>中国工商银行·环球旅行金卡</string>
	<string>中国工商银行·环球旅行白金卡</string>
	<string>中国工商银行·牡丹工银大来卡</string>
	<string>中国工商银行·牡丹工银大莱卡</string>
	<string>中国工商银行·IC金卡</string>
	<string>中国工商银行·IC白金卡</string>
	<string>中国工商银行·工行IC卡（红卡）</string>
	<string>中国工商银行布鲁塞尔分行·借记卡</string>
	<string>中国工商银行布鲁塞尔分行·预付卡</string>
	<string>中国工商银行布鲁塞尔分行·预付卡</string>
	<string>中国工商银行金边分行·借记卡</string>
	<string>中国工商银行金边分行·信用卡</string>
	<string>中国工商银行金边分行·借记卡</string>
	<string>中国工商银行金边分行·信用卡</string>
	<string>中国工商银行加拿大分行·借记卡</string>
	<string>中国工商银行加拿大分行·借记卡</string>
	<string>中国工商银行加拿大分行·预付卡</string>
	<string>中国工商银行巴黎分行·借记卡</string>
	<string>中国工商银行巴黎分行·借记卡</string>
	<string>中国工商银行巴黎分行·贷记卡</string>
	<string>中国工商银行法兰克福分行·贷记卡</string>
	<string>中国工商银行法兰克福分行·借记卡</string>
	<string>中国工商银行法兰克福分行·贷记卡</string>
	<string>中国工商银行法兰克福分行·贷记卡</string>
	<string>中国工商银行法兰克福分行·借记卡</string>
	<string>中国工商银行法兰克福分行·预付卡</string>
	<string>中国工商银行法兰克福分行·预付卡</string>
	<string>中国工商银行印尼分行·借记卡</string>
	<string>中国工商银行印尼分行·信用卡</string>
	<string>中国工商银行米兰分行·借记卡</string>
	<string>中国工商银行米兰分行·预付卡</string>
	<string>中国工商银行米兰分行·预付卡</string>
	<string>中国工商银行阿拉木图子行·借记卡</string>
	<string>中国工商银行阿拉木图子行·贷记卡</string>
	<string>中国工商银行阿拉木图子行·借记卡</string>
	<string>中国工商银行阿拉木图子行·预付卡</string>
	<string>中国工商银行万象分行·借记卡</string>
	<string>中国工商银行万象分行·贷记卡</string>
	<string>中国工商银行卢森堡分行·借记卡</string>
	<string>中国工商银行卢森堡分行·贷记卡</string>
	<string>中国工商银行澳门分行·E时代卡</string>
	<string>中国工商银行澳门分行·E时代卡</string>
	<string>中国工商银行澳门分行·E时代卡</string>
	<string>中国工商银行澳门分行·理财金账户</string>
	<string>中国工商银行澳门分行·理财金账户</string>
	<string>中国工商银行澳门分行·理财金账户</string>
	<string>中国工商银行澳门分行·预付卡</string>
	<string>中国工商银行澳门分行·预付卡</string>
	<string>中国工商银行澳门分行·工银闪付预付卡</string>
	<string>中国工商银行澳门分行·工银银联公司卡</string>
	<string>中国工商银行澳门分行·Diamond</string>
	<string>中国工商银行阿姆斯特丹·借记卡</string>
	<string>中国工商银行卡拉奇分行·借记卡</string>
	<string>中国工商银行卡拉奇分行·贷记卡</string>
	<string>中国工商银行新加坡分行·贷记卡</string>
	<string>中国工商银行新加坡分行·贷记卡</string>
	<string>中国工商银行新加坡分行·借记卡</string>
	<string>中国工商银行新加坡分行·预付卡</string>
	<string>中国工商银行新加坡分行·预付卡</string>
	<string>中国工商银行新加坡分行·借记卡</string>
	<string>中国工商银行新加坡分行·借记卡</string>
	<string>中国工商银行马德里分行·借记卡</string>
	<string>中国工商银行马德里分行·借记卡</string>
	<string>中国工商银行马德里分行·预付卡</string>
	<string>中国工商银行马德里分行·预付卡</string>
	<string>中国工商银行伦敦子行·借记卡</string>
	<string>中国工商银行伦敦子行·工银伦敦借记卡</string>
	<string>中国工商银行伦敦子行·借记卡</string>
	<string>农业银行·金穗贷记卡</string>
	<string>农业银行·中国旅游卡</string>
	<string>农业银行·普通高中学生资助卡</string>
	<string>农业银行·银联标准卡</string>
	<string>农业银行·金穗贷记卡(银联卡)</string>
	<string>农业银行·金穗贷记卡(银联卡)</string>
	<string>农业银行·金穗贷记卡(银联卡)</string>
	<string>农业银行·金穗贷记卡(银联卡)</string>
	<string>农业银行·金穗贷记卡(银联卡)</string>
	<string>农业银行·金穗贷记卡(银联卡)</string>
	<string>农业银行·VISA白金卡</string>
	<string>农业银行·万事达白金卡</string>
	<string>农业银行·金穗贷记卡(银联卡)</string>
	<string>农业银行·金穗贷记卡(银联卡)</string>
	<string>农业银行·金穗贷记卡(银联卡)</string>
	<string>农业银行·金穗贷记卡(银联卡)</string>
	<string>农业银行·金穗贷记卡</string>
	<string>农业银行·中职学生资助卡</string>
	<string>农业银行·专用惠农卡</string>
	<string>农业银行·武警军人保障卡</string>
	<string>农业银行·金穗校园卡(银联卡)</string>
	<string>农业银行·金穗星座卡(银联卡)</string>
	<string>农业银行·金穗社保卡(银联卡)</string>
	<string>农业银行·金穗旅游卡(银联卡)</string>
	<string>农业银行·金穗青年卡(银联卡)</string>
	<string>农业银行·复合介质金穗通宝卡</string>
	<string>农业银行·金穗海通卡</string>
	<string>农业银行·退役金卡</string>
	<string>农业银行·金穗贷记卡</string>
	<string>农业银行·金穗贷记卡</string>
	<string>农业银行·金穗通宝卡(银联卡)</string>
	<string>农业银行·金穗惠农卡</string>
	<string>农业银行·金穗通宝银卡</string>
	<string>农业银行·金穗通宝卡(银联卡)</string>
	<string>农业银行·金穗通宝卡(银联卡)</string>
	<string>农业银行·金穗通宝卡</string>
	<string>农业银行·金穗通宝卡(银联卡)</string>
	<string>农业银行·金穗通宝卡(银联卡)</string>
	<string>农业银行·金穗通宝钻石卡</string>
	<string>农业银行·掌尚钱包</string>
	<string>农业银行·银联IC卡金卡</string>
	<string>农业银行·银联预算单位公务卡金卡</string>
	<string>农业银行·银联IC卡白金卡</string>
	<string>农业银行·金穗公务卡</string>
	<string>中国农业银行贷记卡·IC普卡</string>
	<string>中国农业银行贷记卡·IC金卡</string>
	<string>中国农业银行贷记卡·澳元卡</string>
	<string>中国农业银行贷记卡·欧元卡</string>
	<string>中国农业银行贷记卡·金穗通商卡</string>
	<string>中国农业银行贷记卡·金穗通商卡</string>
	<string>中国农业银行贷记卡·银联白金卡</string>
	<string>中国农业银行贷记卡·中国旅游卡</string>
	<string>中国农业银行贷记卡·银联IC公务卡</string>
	<string>宁波市农业银行·市民卡B卡</string>
	<string>中国银行·联名卡</string>
	<string>中国银行·个人普卡</string>
	<string>中国银行·个人金卡</string>
	<string>中国银行·员工普卡</string>
	<string>中国银行·员工金卡</string>
	<string>中国银行·理财普卡</string>
	<string>中国银行·理财金卡</string>
	<string>中国银行·理财银卡</string>
	<string>中国银行·理财白金卡</string>
	<string>中国银行·中行金融IC卡白金卡</string>
	<string>中国银行·中行金融IC卡普卡</string>
	<string>中国银行·中行金融IC卡金卡</string>
	<string>中国银行·中银JCB卡金卡</string>
	<string>中国银行·中银JCB卡普卡</string>
	<string>中国银行·员工普卡</string>
	<string>中国银行·个人普卡</string>
	<string>中国银行·中银威士信用卡员</string>
	<string>中国银行·中银威士信用卡员</string>
	<string>中国银行·个人白金卡</string>
	<string>中国银行·中银威士信用卡</string>
	<string>中国银行·长城公务卡</string>
	<string>中国银行·长城电子借记卡</string>
	<string>中国银行·中银万事达信用卡</string>
	<string>中国银行·中银万事达信用卡</string>
	<string>中国银行·中银万事达信用卡</string>
	<string>中国银行·中银万事达信用卡</string>
	<string>中国银行·中银万事达信用卡</string>
	<string>中国银行·中银威士信用卡员</string>
	<string>中国银行·长城万事达信用卡</string>
	<string>中国银行·长城万事达信用卡</string>
	<string>中国银行·长城万事达信用卡</string>
	<string>中国银行·长城万事达信用卡</string>
	<string>中国银行·长城万事达信用卡</string>
	<string>中国银行·中银奥运信用卡</string>
	<string>中国银行·长城信用卡</string>
	<string>中国银行·长城信用卡</string>
	<string>中国银行·长城信用卡</string>
	<string>中国银行·长城万事达信用卡</string>
	<string>中国银行·长城公务卡</string>
	<string>中国银行·长城公务卡</string>
	<string>中国银行·中银万事达信用卡</string>
	<string>中国银行·中银万事达信用卡</string>
	<string>中国银行·长城人民币信用卡</string>
	<string>中国银行·长城人民币信用卡</string>
	<string>中国银行·长城人民币信用卡</string>
	<string>中国银行·长城信用卡</string>
	<string>中国银行·长城人民币信用卡</string>
	<string>中国银行·长城人民币信用卡</string>
	<string>中国银行·长城信用卡</string>
	<string>中国银行·银联单币贷记卡</string>
	<string>中国银行·长城信用卡</string>
	<string>中国银行·长城信用卡</string>
	<string>中国银行·长城信用卡</string>
	<string>中国银行·长城电子借记卡</string>
	<string>中国银行·长城人民币信用卡</string>
	<string>中国银行·银联标准公务卡</string>
	<string>中国银行·一卡双账户普卡</string>
	<string>中国银行·财互通卡</string>
	<string>中国银行·电子现金卡</string>
	<string>中国银行·长城人民币信用卡</string>
	<string>中国银行·长城单位信用卡普卡</string>
	<string>中国银行·中银女性主题信用卡</string>
	<string>中国银行·长城单位信用卡金卡</string>
	<string>中国银行·白金卡</string>
	<string>中国银行·中职学生资助卡</string>
	<string>中国银行·银联标准卡</string>
	<string>中国银行·金融IC卡</string>
	<string>中国银行·长城社会保障卡</string>
	<string>中国银行·世界卡</string>
	<string>中国银行·社保联名卡</string>
	<string>中国银行·社保联名卡</string>
	<string>中国银行·医保联名卡</string>
	<string>中国银行·医保联名卡</string>
	<string>中国银行·公司借记卡</string>
	<string>中国银行·银联美运顶级卡</string>
	<string>中国银行·长城福农借记卡金卡</string>
	<string>中国银行·长城福农借记卡普卡</string>
	<string>中国银行·中行金融IC卡普卡</string>
	<string>中国银行·中行金融IC卡金卡</string>
	<string>中国银行·中行金融IC卡白金卡</string>
	<string>中国银行·长城银联公务IC卡白金卡</string>
	<string>中国银行·中银旅游信用卡</string>
	<string>中国银行·长城银联公务IC卡金卡</string>
	<string>中国银行·中国旅游卡</string>
	<string>中国银行·武警军人保障卡</string>
	<string>中国银行·社保联名借记IC卡</string>
	<string>中国银行·社保联名借记IC卡</string>
	<string>中国银行·医保联名借记IC卡</string>
	<string>中国银行·医保联名借记IC卡</string>
	<string>中国银行·借记IC个人普卡</string>
	<string>中国银行·借记IC个人金卡</string>
	<string>中国银行·借记IC个人普卡</string>
	<string>中国银行·借记IC白金卡</string>
	<string>中国银行·借记IC钻石卡</string>
	<string>中国银行·借记IC联名卡</string>
	<string>中国银行·普通高中学生资助卡</string>
	<string>中国银行·长城环球通港澳台旅游金卡</string>
	<string>中国银行·长城环球通港澳台旅游白金卡</string>
	<string>中国银行·中银福农信用卡</string>
	<string>中国银行金边分行·借记卡</string>
	<string>中国银行雅加达分行·借记卡</string>
	<string>中国银行首尔分行·借记卡</string>
	<string>中国银行澳门分行·人民币信用卡</string>
	<string>中国银行澳门分行·人民币信用卡</string>
	<string>中国银行澳门分行·中银卡</string>
	<string>中国银行澳门分行·中银卡</string>
	<string>中国银行澳门分行·中银卡</string>
	<string>中国银行澳门分行·中银银联双币商务卡</string>
	<string>中国银行澳门分行·预付卡</string>
	<string>中国银行澳门分行·澳门中国银行银联预付卡</string>
	<string>中国银行澳门分行·澳门中国银行银联预付卡</string>
	<string>中国银行澳门分行·熊猫卡</string>
	<string>中国银行澳门分行·财富卡</string>
	<string>中国银行澳门分行·银联港币卡</string>
	<string>中国银行澳门分行·银联澳门币卡</string>
	<string>中国银行马尼拉分行·双币种借记卡</string>
	<string>中国银行胡志明分行·借记卡</string>
	<string>中国银行曼谷分行·借记卡</string>
	<string>中国银行曼谷分行·长城信用卡环球通</string>
	<string>中国银行曼谷分行·借记卡</string>
	<string>建设银行·龙卡准贷记卡</string>
	<string>建设银行·龙卡准贷记卡金卡</string>
	<string>建设银行·中职学生资助卡</string>
	<string>建设银行·乐当家银卡VISA</string>
	<string>建设银行·乐当家金卡VISA</string>
	<string>建设银行·乐当家白金卡</string>
	<string>建设银行·龙卡普通卡VISA</string>
	<string>建设银行·龙卡储蓄卡</string>
	<string>建设银行·VISA准贷记卡(银联卡)</string>
	<string>建设银行·VISA准贷记金卡</string>
	<string>建设银行·乐当家</string>
	<string>建设银行·乐当家</string>
	<string>建设银行·准贷记金卡</string>
	<string>建设银行·乐当家白金卡</string>
	<string>建设银行·金融复合IC卡</string>
	<string>建设银行·银联标准卡</string>
	<string>建设银行·银联理财钻石卡</string>
	<string>建设银行·金融IC卡</string>
	<string>建设银行·理财白金卡</string>
	<string>建设银行·社保IC卡</string>
	<string>建设银行·财富卡私人银行卡</string>
	<string>建设银行·理财金卡</string>
	<string>建设银行·福农卡</string>
	<string>建设银行·武警军人保障卡</string>
	<string>建设银行·龙卡通</string>
	<string>建设银行·银联储蓄卡</string>
	<string>建设银行·龙卡储蓄卡(银联卡)</string>
	<string>建设银行·准贷记卡</string>
	<string>建设银行·理财白金卡</string>
	<string>建设银行·理财金卡</string>
	<string>建设银行·准贷记卡普卡</string>
	<string>建设银行·准贷记卡金卡</string>
	<string>建设银行·龙卡信用卡</string>
	<string>建设银行·建行陆港通龙卡</string>
	<string>中国建设银行·普通高中学生资助卡</string>
	<string>中国建设银行·中国旅游卡</string>
	<string>中国建设银行·龙卡JCB金卡</string>
	<string>中国建设银行·龙卡JCB白金卡</string>
	<string>中国建设银行·龙卡JCB普卡</string>
	<string>中国建设银行·龙卡贷记卡公司卡</string>
	<string>中国建设银行·龙卡贷记卡</string>
	<string>中国建设银行·龙卡国际普通卡VISA</string>
	<string>中国建设银行·龙卡国际金卡VISA</string>
	<string>中国建设银行·VISA白金信用卡</string>
	<string>中国建设银行·龙卡国际白金卡</string>
	<string>中国建设银行·龙卡国际普通卡MASTER</string>
	<string>中国建设银行·龙卡国际金卡MASTER</string>
	<string>中国建设银行·龙卡万事达金卡</string>
	<string>中国建设银行·龙卡贷记卡</string>
	<string>中国建设银行·龙卡万事达白金卡</string>
	<string>中国建设银行·龙卡贷记卡</string>
	<string>中国建设银行·龙卡万事达信用卡</string>
	<string>中国建设银行·龙卡人民币信用卡</string>
	<string>中国建设银行·龙卡人民币信用金卡</string>
	<string>中国建设银行·龙卡人民币白金卡</string>
	<string>中国建设银行·龙卡IC信用卡普卡</string>
	<string>中国建设银行·龙卡IC信用卡金卡</string>
	<string>中国建设银行·龙卡IC信用卡白金卡</string>
	<string>中国建设银行·龙卡银联公务卡普卡</string>
	<string>中国建设银行·龙卡银联公务卡金卡</string>
	<string>中国建设银行·中国旅游卡</string>
	<string>中国建设银行·中国旅游卡</string>
	<string>中国建设银行·龙卡IC公务卡</string>
	<string>中国建设银行·龙卡IC公务卡</string>
	<string>交通银行·交行预付卡</string>
	<string>交通银行·世博预付IC卡</string>
	<string>交通银行·太平洋互连卡</string>
	<string>交通银行·太平洋万事顺卡</string>
	<string>交通银行·太平洋互连卡(银联卡)</string>
	<string>交通银行·太平洋白金信用卡</string>
	<string>交通银行·太平洋双币贷记卡</string>
	<string>交通银行·太平洋双币贷记卡</string>
	<string>交通银行·太平洋双币贷记卡</string>
	<string>交通银行·太平洋白金信用卡</string>
	<string>交通银行·太平洋双币贷记卡</string>
	<string>交通银行·太平洋万事顺卡</string>
	<string>交通银行·太平洋人民币贷记卡</string>
	<string>交通银行·太平洋人民币贷记卡</string>
	<string>交通银行·太平洋双币贷记卡</string>
	<string>交通银行·太平洋准贷记卡</string>
	<string>交通银行·太平洋准贷记卡</string>
	<string>交通银行·太平洋准贷记卡</string>
	<string>交通银行·太平洋准贷记卡</string>
	<string>交通银行·太平洋借记卡</string>
	<string>交通银行·太平洋借记卡</string>
	<string>交通银行·太平洋人民币贷记卡</string>
	<string>交通银行·太平洋借记卡</string>
	<string>交通银行·太平洋MORE卡</string>
	<string>交通银行·白金卡</string>
	<string>交通银行·交通银行公务卡普卡</string>
	<string>交通银行·太平洋人民币贷记卡</string>
	<string>交通银行·太平洋互连卡</string>
	<string>交通银行·太平洋借记卡</string>
	<string>交通银行·太平洋万事顺卡</string>
	<string>交通银行·太平洋贷记卡(银联卡)</string>
	<string>交通银行·太平洋贷记卡(银联卡)</string>
	<string>交通银行·太平洋贷记卡(银联卡)</string>
	<string>交通银行·太平洋贷记卡(银联卡)</string>
	<string>交通银行·交通银行公务卡金卡</string>
	<string>交通银行·交银IC卡</string>
	<string>交通银行香港分行·交通银行港币借记卡</string>
	<string>交通银行香港分行·港币礼物卡</string>
	<string>交通银行香港分行·双币种信用卡</string>
	<string>交通银行香港分行·双币种信用卡</string>
	<string>交通银行香港分行·双币卡</string>
	<string>交通银行香港分行·银联人民币卡</string>
	<string>交通银行澳门分行·银联借记卡</string>
	<string>中信银行·中信借记卡</string>
	<string>中信银行·中信借记卡</string>
	<string>中信银行·中信国际借记卡</string>
	<string>中信银行·中信国际借记卡</string>
	<string>中信银行·中国旅行卡</string>
	<string>中信银行·中信借记卡(银联卡)</string>
	<string>中信银行·中信借记卡(银联卡)</string>
	<string>中信银行·中信贵宾卡(银联卡)</string>
	<string>中信银行·中信理财宝金卡</string>
	<string>中信银行·中信理财宝白金卡</string>
	<string>中信银行·中信钻石卡</string>
	<string>中信银行·中信钻石卡</string>
	<string>中信银行·中信借记卡</string>
	<string>中信银行·中信理财宝(银联卡)</string>
	<string>中信银行·中信理财宝(银联卡)</string>
	<string>中信银行·中信理财宝(银联卡)</string>
	<string>中信银行·借记卡</string>
	<string>中信银行·理财宝IC卡</string>
	<string>中信银行·理财宝IC卡</string>
	<string>中信银行·理财宝IC卡</string>
	<string>中信银行·理财宝IC卡</string>
	<string>中信银行·理财宝IC卡</string>
	<string>中信银行·主账户复合电子现金卡</string>
	<string>光大银行·阳光商旅信用卡</string>
	<string>光大银行·阳光商旅信用卡</string>
	<string>光大银行·阳光商旅信用卡</string>
	<string>光大银行·阳光卡(银联卡)</string>
	<string>光大银行·阳光卡(银联卡)</string>
	<string>光大银行·阳光卡(银联卡)</string>
	<string>光大银行·阳光卡(银联卡)</string>
	<string>光大银行·阳光卡(银联卡)</string>
	<string>光大银行·阳光卡(银联卡)</string>
	<string>光大银行·阳光卡(银联卡)</string>
	<string>光大银行·阳光卡(银联卡)</string>
	<string>光大银行·阳光卡(银联卡)</string>
	<string>光大银行·阳光卡(银联卡)</string>
	<string>光大银行·阳光卡(银联卡)</string>
	<string>光大银行·阳光卡(银联卡)</string>
	<string>光大银行·阳光卡(银联卡)</string>
	<string>光大银行·阳光卡(银联卡)</string>
	<string>光大银行·阳光卡(银联卡)</string>
	<string>光大银行·借记卡普卡</string>
	<string>光大银行·社会保障IC卡</string>
	<string>光大银行·IC借记卡普卡</string>
	<string>光大银行·手机支付卡</string>
	<string>光大银行·联名IC卡普卡</string>
	<string>光大银行·借记IC卡白金卡</string>
	<string>光大银行·借记IC卡金卡</string>
	<string>光大银行·阳光旅行卡</string>
	<string>光大银行·借记IC卡钻石卡</string>
	<string>光大银行·联名IC卡金卡</string>
	<string>光大银行·联名IC卡白金卡</string>
	<string>光大银行·联名IC卡钻石卡</string>
	<string>华夏银行·华夏卡(银联卡)</string>
	<string>华夏银行·华夏白金卡</string>
	<string>华夏银行·华夏普卡</string>
	<string>华夏银行·华夏金卡</string>
	<string>华夏银行·华夏白金卡</string>
	<string>华夏银行·华夏钻石卡</string>
	<string>华夏银行·华夏卡(银联卡)</string>
	<string>华夏银行·华夏至尊金卡(银联卡)</string>
	<string>华夏银行·华夏丽人卡(银联卡)</string>
	<string>华夏银行·华夏万通卡</string>
	<string>民生银行·民生借记卡(银联卡)</string>
	<string>民生银行·民生银联借记卡－金卡</string>
	<string>民生银行·钻石卡</string>
	<string>民生银行·民生借记卡(银联卡)</string>
	<string>民生银行·民生借记卡(银联卡)</string>
	<string>民生银行·民生借记卡(银联卡)</string>
	<string>民生银行·民生借记卡</string>
	<string>民生银行·民生国际卡</string>
	<string>民生银行·民生国际卡(银卡)</string>
	<string>民生银行·民生国际卡(欧元卡)</string>
	<string>民生银行·民生国际卡(澳元卡)</string>
	<string>民生银行·民生国际卡</string>
	<string>民生银行·民生国际卡</string>
	<string>民生银行·薪资理财卡</string>
	<string>民生银行·借记卡普卡</string>
	<string>民生银行·民生MasterCard</string>
	<string>民生银行·民生MasterCard</string>
	<string>民生银行·民生MasterCard</string>
	<string>民生银行·民生MasterCard</string>
	<string>民生银行·民生JCB信用卡</string>
	<string>民生银行·民生JCB金卡</string>
	<string>民生银行·民生贷记卡(银联卡)</string>
	<string>民生银行·民生贷记卡(银联卡)</string>
	<string>民生银行·民生贷记卡(银联卡)</string>
	<string>民生银行·民生贷记卡(银联卡)</string>
	<string>民生银行·民生贷记卡(银联卡)</string>
	<string>民生银行·民生JCB普卡</string>
	<string>民生银行·民生贷记卡(银联卡)</string>
	<string>民生银行·民生贷记卡(银联卡)</string>
	<string>民生银行·民生信用卡(银联卡)</string>
	<string>民生银行·民生信用卡(银联卡)</string>
	<string>民生银行·民生银联白金信用卡</string>
	<string>民生银行·民生贷记卡(银联卡)</string>
	<string>民生银行·民生银联个人白金卡</string>
	<string>民生银行·公务卡金卡</string>
	<string>民生银行·民生贷记卡(银联卡)</string>
	<string>民生银行·民生银联商务信用卡</string>
	<string>民生银行·民VISA无限卡</string>
	<string>民生银行·民生VISA商务白金卡</string>
	<string>民生银行·民生万事达钛金卡</string>
	<string>民生银行·民生万事达世界卡</string>
	<string>民生银行·民生万事达白金公务卡</string>
	<string>民生银行·民生JCB白金卡</string>
	<string>民生银行·银联标准金卡</string>
	<string>民生银行·银联芯片普卡</string>
	<string>民生银行·民生运通双币信用卡普卡</string>
	<string>民生银行·民生运通双币信用卡金卡</string>
	<string>民生银行·民生运通双币信用卡钻石卡</string>
	<string>民生银行·民生运通双币标准信用卡白金卡</string>
	<string>民生银行·银联芯片金卡</string>
	<string>民生银行·银联芯片白金卡</string>
	<string>招商银行·招商银行信用卡</string>
	<string>招商银行·招商银行信用卡</string>
	<string>招商银行·招商银行信用卡</string>
	<string>招商银行·招商银行信用卡</string>
	<string>招商银行·招商银行信用卡</string>
	<string>招商银行·两地一卡通</string>
	<string>招商银行·招行国际卡(银联卡)</string>
	<string>招商银行·招商银行信用卡</string>
	<string>招商银行·VISA商务信用卡</string>
	<string>招商银行·招行国际卡(银联卡)</string>
	<string>招商银行·招商银行信用卡</string>
	<string>招商银行·招商银行信用卡</string>
	<string>招商银行·招行国际卡(银联卡)</string>
	<string>招商银行·世纪金花联名信用卡</string>
	<string>招商银行·招行国际卡(银联卡)</string>
	<string>招商银行·招商银行信用卡</string>
	<string>招商银行·万事达信用卡</string>
	<string>招商银行·万事达信用卡</string>
	<string>招商银行·万事达信用卡</string>
	<string>招商银行·万事达信用卡</string>
	<string>招商银行·招商银行信用卡</string>
	<string>招商银行·招商银行信用卡</string>
	<string>招商银行·招商银行信用卡</string>
	<string>招商银行·招商银行信用卡</string>
	<string>招商银行·招商银行信用卡</string>
	<string>招商银行·招商银行信用卡</string>
	<string>招商银行·一卡通(银联卡)</string>
	<string>招商银行·万事达信用卡</string>
	<string>招商银行·招商银行信用卡</string>
	<string>招商银行·招商银行信用卡</string>
	<string>招商银行·一卡通(银联卡)</string>
	<string>招商银行·公司卡(银联卡)</string>
	<string>招商银行·金卡</string>
	<string>招商银行·招行一卡通</string>
	<string>招商银行·招行一卡通</string>
	<string>招商银行·万事达信用卡</string>
	<string>招商银行·金葵花卡</string>
	<string>招商银行·电子现金卡</string>
	<string>招商银行·银联IC普卡</string>
	<string>招商银行·银联IC金卡</string>
	<string>招商银行·银联金葵花IC卡</string>
	<string>招商银行·IC公务卡</string>
	<string>招商银行·招商银行信用卡</string>
	<string>招商银行信用卡中心·美国运通绿卡</string>
	<string>招商银行信用卡中心·美国运通金卡</string>
	<string>招商银行信用卡中心·美国运通商务绿卡</string>
	<string>招商银行信用卡中心·美国运通商务金卡</string>
	<string>招商银行信用卡中心·VISA信用卡</string>
	<string>招商银行信用卡中心·MASTER信用卡</string>
	<string>招商银行信用卡中心·MASTER信用金卡</string>
	<string>招商银行信用卡中心·银联标准公务卡(金卡)</string>
	<string>招商银行信用卡中心·VISA信用卡</string>
	<string>招商银行信用卡中心·银联标准财政公务卡</string>
	<string>招商银行信用卡中心·芯片IC信用卡</string>
	<string>招商银行信用卡中心·芯片IC信用卡</string>
	<string>招商银行香港分行·香港一卡通</string>
	<string>兴业银行·兴业卡(银联卡)</string>
	<string>兴业银行·兴业卡(银联标准卡)</string>
	<string>兴业银行·兴业自然人生理财卡</string>
	<string>兴业银行·兴业智能卡(银联卡)</string>
	<string>兴业银行·兴业智能卡</string>
	<string>兴业银行·visa标准双币个人普卡</string>
	<string>兴业银行·VISA商务普卡</string>
	<string>兴业银行·VISA商务金卡</string>
	<string>兴业银行·VISA运动白金信用卡</string>
	<string>兴业银行·万事达信用卡(银联卡)</string>
	<string>兴业银行·VISA信用卡(银联卡)</string>
	<string>兴业银行·加菲猫信用卡</string>
	<string>兴业银行·个人白金卡</string>
	<string>兴业银行·银联信用卡(银联卡)</string>
	<string>兴业银行·银联信用卡(银联卡)</string>
	<string>兴业银行·银联白金信用卡</string>
	<string>兴业银行·银联标准公务卡</string>
	<string>兴业银行·VISA信用卡(银联卡)</string>
	<string>兴业银行·万事达信用卡(银联卡)</string>
	<string>兴业银行·银联标准贷记普卡</string>
	<string>兴业银行·银联标准贷记金卡</string>
	<string>兴业银行·银联标准贷记金卡</string>
	<string>兴业银行·银联标准贷记金卡</string>
	<string>兴业银行·兴业信用卡</string>
	<string>兴业银行·兴业信用卡</string>
	<string>兴业银行·兴业信用卡</string>
	<string>兴业银行·银联标准贷记普卡</string>
	<string>兴业银行·银联标准贷记普卡</string>
	<string>兴业银行·兴业芯片普卡</string>
	<string>兴业银行·兴业芯片金卡</string>
	<string>兴业银行·兴业芯片白金卡</string>
	<string>兴业银行·兴业芯片钻石卡</string>
	<string>浦东发展银行·浦发JCB金卡</string>
	<string>浦东发展银行·浦发JCB白金卡</string>
	<string>浦东发展银行·信用卡VISA普通</string>
	<string>浦东发展银行·信用卡VISA金卡</string>
	<string>浦东发展银行·浦发银行VISA年青卡</string>
	<string>浦东发展银行·VISA白金信用卡</string>
	<string>浦东发展银行·浦发万事达白金卡</string>
	<string>浦东发展银行·浦发JCB普卡</string>
	<string>浦东发展银行·浦发万事达金卡</string>
	<string>浦东发展银行·浦发万事达普卡</string>
	<string>浦东发展银行·浦发单币卡</string>
	<string>浦东发展银行·浦发银联单币麦兜普卡</string>
	<string>浦东发展银行·东方轻松理财卡</string>
	<string>浦东发展银行·东方-轻松理财卡普卡</string>
	<string>浦东发展银行·东方轻松理财卡</string>
	<string>浦东发展银行·东方轻松理财智业金卡</string>
	<string>浦东发展银行·东方卡(银联卡)</string>
	<string>浦东发展银行·东方卡(银联卡)</string>
	<string>浦东发展银行·东方卡(银联卡)</string>
	<string>浦东发展银行·公务卡金卡</string>
	<string>浦东发展银行·公务卡普卡</string>
	<string>浦东发展银行·东方卡</string>
	<string>浦东发展银行·东方卡</string>
	<string>浦东发展银行·浦发单币卡</string>
	<string>浦东发展银行·浦发联名信用卡</string>
	<string>浦东发展银行·浦发银联白金卡</string>
	<string>浦东发展银行·轻松理财普卡</string>
	<string>浦东发展银行·移动联名卡</string>
	<string>浦东发展银行·轻松理财消贷易卡</string>
	<string>浦东发展银行·轻松理财普卡（复合卡）</string>
	<string>浦东发展银行·贷记卡</string>
	<string>浦东发展银行·贷记卡</string>
	<string>浦东发展银行·东方借记卡（复合卡）</string>
	<string>浦东发展银行·电子现金卡（IC卡）</string>
	<string>浦东发展银行·移动浦发联名卡</string>
	<string>浦东发展银行·东方-标准准贷记卡</string>
	<string>浦东发展银行·轻松理财金卡（复合卡）</string>
	<string>浦东发展银行·轻松理财白金卡（复合卡）</string>
	<string>浦东发展银行·轻松理财钻石卡（复合卡）</string>
	<string>浦东发展银行·东方卡</string>
	<string>恒丰银行·九州IC卡</string>
	<string>恒丰银行·九州借记卡(银联卡)</string>
	<string>恒丰银行·九州借记卡(银联卡)</string>
	<string>天津市商业银行·银联卡(银联卡)</string>
	<string>烟台商业银行·金通卡</string>
	<string>潍坊银行·鸢都卡(银联卡)</string>
	<string>潍坊银行·鸳都卡(银联卡)</string>
	<string>临沂商业银行·沂蒙卡(银联卡)</string>
	<string>临沂商业银行·沂蒙卡(银联卡)</string>
	<string>日照市商业银行·黄海卡</string>
	<string>日照市商业银行·黄海卡(银联卡)</string>
	<string>浙商银行·商卡</string>
	<string>浙商银行·商卡</string>
	<string>渤海银行·浩瀚金卡</string>
	<string>渤海银行·渤海银行借记卡</string>
	<string>渤海银行·金融IC卡</string>
	<string>渤海银行·渤海银行公司借记卡</string>
	<string>星展银行·星展银行借记卡</string>
	<string>星展银行·星展银行借记卡</string>
	<string>恒生银行·恒生通财卡</string>
	<string>恒生银行·恒生优越通财卡</string>
	<string>新韩银行·新韩卡</string>
	<string>上海银行·慧通钻石卡</string>
	<string>上海银行·慧通金卡</string>
	<string>上海银行·私人银行卡</string>
	<string>上海银行·综合保险卡</string>
	<string>上海银行·申卡社保副卡(有折)</string>
	<string>上海银行·申卡社保副卡(无折)</string>
	<string>上海银行·白金IC借记卡</string>
	<string>上海银行·慧通白金卡(配折)</string>
	<string>上海银行·慧通白金卡(不配折)</string>
	<string>上海银行·申卡(银联卡)</string>
	<string>上海银行·申卡借记卡</string>
	<string>上海银行·银联申卡(银联卡)</string>
	<string>上海银行·单位借记卡</string>
	<string>上海银行·首发纪念版IC卡</string>
	<string>上海银行·申卡贷记卡</string>
	<string>上海银行·申卡贷记卡</string>
	<string>上海银行·J分期付款信用卡</string>
	<string>上海银行·申卡贷记卡</string>
	<string>上海银行·申卡贷记卡</string>
	<string>上海银行·上海申卡IC</string>
	<string>上海银行·申卡贷记卡</string>
	<string>上海银行·申卡贷记卡普通卡</string>
	<string>上海银行·申卡贷记卡金卡</string>
	<string>上海银行·万事达白金卡</string>
	<string>上海银行·万事达星运卡</string>
	<string>上海银行·申卡贷记卡金卡</string>
	<string>上海银行·申卡贷记卡普通卡</string>
	<string>上海银行·安融卡</string>
	<string>上海银行·分期付款信用卡</string>
	<string>上海银行·信用卡</string>
	<string>上海银行·个人公务卡</string>
	<string>上海银行·安融卡</string>
	<string>上海银行·上海银行银联白金卡</string>
	<string>上海银行·贷记IC卡</string>
	<string>上海银行·中国旅游卡（IC普卡）</string>
	<string>上海银行·中国旅游卡（IC金卡）</string>
	<string>上海银行·中国旅游卡（IC白金卡）</string>
	<string>上海银行·万事达钻石卡</string>
	<string>上海银行·淘宝IC普卡</string>
	<string>北京银行·京卡借记卡</string>
	<string>北京银行·京卡(银联卡)</string>
	<string>北京银行·京卡借记卡</string>
	<string>北京银行·京卡</string>
	<string>北京银行·京卡</string>
	<string>北京银行·借记IC卡</string>
	<string>北京银行·京卡贵宾金卡</string>
	<string>北京银行·京卡贵宾白金卡</string>
	<string>吉林银行·君子兰一卡通(银联卡)</string>
	<string>吉林银行·君子兰卡(银联卡)</string>
	<string>吉林银行·长白山金融IC卡</string>
	<string>吉林银行·信用卡</string>
	<string>吉林银行·信用卡</string>
	<string>吉林银行·公务卡</string>
	<string>镇江市商业银行·金山灵通卡(银联卡)</string>
	<string>镇江市商业银行·金山灵通卡(银联卡)</string>
	<string>宁波银行·银联标准卡</string>
	<string>宁波银行·汇通借记卡</string>
	<string>宁波银行·汇通卡(银联卡)</string>
	<string>宁波银行·明州卡</string>
	<string>宁波银行·汇通借记卡</string>
	<string>宁波银行·汇通国际卡银联双币卡</string>
	<string>宁波银行·汇通国际卡银联双币卡</string>
	<string>平安银行·新磁条借记卡</string>
	<string>平安银行·平安银行IC借记卡</string>
	<string>平安银行·万事顺卡</string>
	<string>平安银行·平安银行借记卡</string>
	<string>平安银行·平安银行借记卡</string>
	<string>平安银行·万事顺借记卡</string>
	<string>焦作市商业银行·月季借记卡(银联卡)</string>
	<string>焦作市商业银行·月季城市通(银联卡)</string>
	<string>焦作市商业银行·中国旅游卡</string>
	<string>温州银行·金鹿卡</string>
	<string>汉口银行·九通卡(银联卡)</string>
	<string>汉口银行·九通卡</string>
	<string>汉口银行·借记卡</string>
	<string>汉口银行·借记卡</string>
	<string>盛京银行·玫瑰卡</string>
	<string>盛京银行·玫瑰IC卡</string>
	<string>盛京银行·玫瑰IC卡</string>
	<string>盛京银行·玫瑰卡</string>
	<string>盛京银行·玫瑰卡</string>
	<string>盛京银行·玫瑰卡(银联卡)</string>
	<string>盛京银行·玫瑰卡(银联卡)</string>
	<string>盛京银行·盛京银行公务卡</string>
	<string>洛阳银行·都市一卡通(银联卡)</string>
	<string>洛阳银行·都市一卡通(银联卡)</string>
	<string>洛阳银行·--</string>
	<string>大连银行·北方明珠卡</string>
	<string>大连银行·人民币借记卡</string>
	<string>大连银行·金融IC借记卡</string>
	<string>大连银行·大连市社会保障卡</string>
	<string>大连银行·借记IC卡</string>
	<string>大连银行·借记IC卡</string>
	<string>大连银行·大连市商业银行贷记卡</string>
	<string>大连银行·大连市商业银行贷记卡</string>
	<string>大连银行·银联标准公务卡</string>
	<string>苏州市商业银行·姑苏卡</string>
	<string>杭州商业银行·西湖卡</string>
	<string>杭州商业银行·西湖卡</string>
	<string>杭州商业银行·借记IC卡</string>
	<string>杭州商业银行·</string>
	<string>南京银行·梅花信用卡公务卡</string>
	<string>南京银行·梅花信用卡商务卡</string>
	<string>南京银行·梅花贷记卡(银联卡)</string>
	<string>南京银行·梅花借记卡(银联卡)</string>
	<string>南京银行·白金卡</string>
	<string>南京银行·商务卡</string>
	<string>东莞市商业银行·万顺通卡(银联卡)</string>
	<string>东莞市商业银行·万顺通卡(银联卡)</string>
	<string>东莞市商业银行·万顺通借记卡</string>
	<string>东莞市商业银行·社会保障卡</string>
	<string>乌鲁木齐市商业银行·雪莲借记IC卡</string>
	<string>乌鲁木齐市商业银行·乌鲁木齐市公务卡</string>
	<string>乌鲁木齐市商业银行·福农卡贷记卡</string>
	<string>乌鲁木齐市商业银行·福农卡准贷记卡</string>
	<string>乌鲁木齐市商业银行·雪莲准贷记卡</string>
	<string>乌鲁木齐市商业银行·雪莲贷记卡(银联卡)</string>
	<string>乌鲁木齐市商业银行·雪莲借记IC卡</string>
	<string>乌鲁木齐市商业银行·雪莲借记卡(银联卡)</string>
	<string>乌鲁木齐市商业银行·雪莲卡(银联卡)</string>
	<string>绍兴银行·兰花IC借记卡</string>
	<string>绍兴银行·社保IC借记卡</string>
	<string>绍兴银行·兰花公务卡</string>
	<string>成都商业银行·芙蓉锦程福农卡</string>
	<string>成都商业银行·芙蓉锦程天府通卡</string>
	<string>成都商业银行·锦程卡(银联卡)</string>
	<string>成都商业银行·锦程卡金卡</string>
	<string>成都商业银行·锦程卡定活一卡通金卡</string>
	<string>成都商业银行·锦程卡定活一卡通</string>
	<string>成都商业银行·锦程力诚联名卡</string>
	<string>成都商业银行·锦程力诚联名卡</string>
	<string>成都商业银行·锦程卡(银联卡)</string>
	<string>抚顺银行·借记IC卡</string>
	<string>临商银行·借记卡</string>
	<string>宜昌市商业银行·三峡卡(银联卡)</string>
	<string>宜昌市商业银行·信用卡(银联卡)</string>
	<string>葫芦岛市商业银行·一通卡</string>
	<string>葫芦岛市商业银行·一卡通(银联卡)</string>
	<string>天津市商业银行·津卡</string>
	<string>天津市商业银行·津卡贷记卡(银联卡)</string>
	<string>天津市商业银行·贷记IC卡</string>
	<string>天津市商业银行·--</string>
	<string>天津银行·商务卡</string>
	<string>宁夏银行·宁夏银行公务卡</string>
	<string>宁夏银行·宁夏银行福农贷记卡</string>
	<string>宁夏银行·如意卡(银联卡)</string>
	<string>宁夏银行·宁夏银行福农借记卡</string>
	<string>宁夏银行·如意借记卡</string>
	<string>宁夏银行·如意IC卡</string>
	<string>宁夏银行·宁夏银行如意借记卡</string>
	<string>宁夏银行·中国旅游卡</string>
	<string>齐商银行·金达卡(银联卡)</string>
	<string>齐商银行·金达借记卡(银联卡)</string>
	<string>齐商银行·金达IC卡</string>
	<string>徽商银行·黄山卡</string>
	<string>徽商银行·黄山卡</string>
	<string>徽商银行·借记卡</string>
	<string>徽商银行·徽商银行中国旅游卡（安徽）</string>
	<string>徽商银行合肥分行·黄山卡</string>
	<string>徽商银行芜湖分行·黄山卡(银联卡)</string>
	<string>徽商银行马鞍山分行·黄山卡(银联卡)</string>
	<string>徽商银行淮北分行·黄山卡(银联卡)</string>
	<string>徽商银行安庆分行·黄山卡(银联卡)</string>
	<string>重庆银行·长江卡(银联卡)</string>
	<string>重庆银行·长江卡(银联卡)</string>
	<string>重庆银行·长江卡</string>
	<string>重庆银行·借记IC卡</string>
	<string>哈尔滨银行·丁香一卡通(银联卡)</string>
	<string>哈尔滨银行·丁香借记卡(银联卡)</string>
	<string>哈尔滨银行·丁香卡</string>
	<string>哈尔滨银行·福农借记卡</string>
	<string>无锡市商业银行·太湖金保卡(银联卡)</string>
	<string>丹东银行·借记IC卡</string>
	<string>丹东银行·丹东银行公务卡</string>
	<string>兰州银行·敦煌卡</string>
	<string>南昌银行·金瑞卡(银联卡)</string>
	<string>南昌银行·南昌银行借记卡</string>
	<string>南昌银行·金瑞卡</string>
	<string>晋商银行·晋龙一卡通</string>
	<string>晋商银行·晋龙一卡通</string>
	<string>晋商银行·晋龙卡(银联卡)</string>
	<string>青岛银行·金桥通卡</string>
	<string>青岛银行·金桥卡(银联卡)</string>
	<string>青岛银行·金桥卡(银联卡)</string>
	<string>青岛银行·金桥卡</string>
	<string>青岛银行·借记IC卡</string>
	<string>吉林银行·雾凇卡(银联卡)</string>
	<string>吉林银行·雾凇卡(银联卡)</string>
	<string>南通商业银行·金桥卡(银联卡)</string>
	<string>南通商业银行·金桥卡(银联卡)</string>
	<string>日照银行·黄海卡、财富卡借记卡</string>
	<string>鞍山银行·千山卡(银联卡)</string>
	<string>鞍山银行·千山卡(银联卡)</string>
	<string>鞍山银行·千山卡</string>
	<string>青海银行·三江银行卡(银联卡)</string>
	<string>青海银行·三江卡</string>
	<string>台州银行·大唐贷记卡</string>
	<string>台州银行·大唐准贷记卡</string>
	<string>台州银行·大唐卡(银联卡)</string>
	<string>台州银行·大唐卡</string>
	<string>台州银行·借记卡</string>
	<string>台州银行·公务卡</string>
	<string>泉州银行·海峡银联卡(银联卡)</string>
	<string>泉州银行·海峡储蓄卡</string>
	<string>泉州银行·海峡银联卡(银联卡)</string>
	<string>泉州银行·海峡卡</string>
	<string>泉州银行·公务卡</string>
	<string>昆明商业银行·春城卡(银联卡)</string>
	<string>昆明商业银行·春城卡(银联卡)</string>
	<string>昆明商业银行·富滇IC卡（复合卡）</string>
	<string>阜新银行·借记IC卡</string>
	<string>嘉兴银行·南湖借记卡(银联卡)</string>
	<string>廊坊银行·白金卡</string>
	<string>廊坊银行·金卡</string>
	<string>廊坊银行·银星卡(银联卡)</string>
	<string>廊坊银行·龙凤呈祥卡</string>
	<string>内蒙古银行·百灵卡(银联卡)</string>
	<string>内蒙古银行·成吉思汗卡</string>
	<string>湖州市商业银行·百合卡</string>
	<string>湖州市商业银行·</string>
	<string>沧州银行·狮城卡</string>
	<string>南宁市商业银行·桂花卡(银联卡)</string>
	<string>包商银行·雄鹰卡(银联卡)</string>
	<string>包商银行·包头市商业银行借记卡</string>
	<string>包商银行·雄鹰贷记卡</string>
	<string>包商银行·包商银行内蒙古自治区公务卡</string>
	<string>包商银行·贷记卡</string>
	<string>包商银行·借记卡</string>
	<string>连云港市商业银行·金猴神通借记卡</string>
	<string>威海商业银行·通达卡(银联卡)</string>
	<string>威海市商业银行·通达借记IC卡</string>
	<string>攀枝花市商业银行·攀枝花卡(银联卡)</string>
	<string>攀枝花市商业银行·攀枝花卡</string>
	<string>绵阳市商业银行·科技城卡(银联卡)</string>
	<string>泸州市商业银行·酒城卡(银联卡)</string>
	<string>泸州市商业银行·酒城IC卡</string>
	<string>大同市商业银行·云冈卡(银联卡)</string>
	<string>三门峡银行·天鹅卡(银联卡)</string>
	<string>广东南粤银行·南珠卡(银联卡)</string>
	<string>张家口市商业银行·好运IC借记卡</string>
	<string>桂林市商业银行·漓江卡(银联卡)</string>
	<string>龙江银行·福农借记卡</string>
	<string>龙江银行·联名借记卡</string>
	<string>龙江银行·福农借记卡</string>
	<string>龙江银行·龙江IC卡</string>
	<string>龙江银行·社会保障卡</string>
	<string>龙江银行·--</string>
	<string>江苏长江商业银行·长江卡</string>
	<string>徐州市商业银行·彭城借记卡(银联卡)</string>
	<string>南充市商业银行·借记IC卡</string>
	<string>南充市商业银行·熊猫团团卡</string>
	<string>莱商银行·银联标准卡</string>
	<string>莱芜银行·金凤卡</string>
	<string>莱商银行·借记IC卡</string>
	<string>德阳银行·锦程卡定活一卡通</string>
	<string>德阳银行·锦程卡定活一卡通金卡</string>
	<string>德阳银行·锦程卡定活一卡通</string>
	<string>唐山市商业银行·唐山市城通卡</string>
	<string>曲靖市商业银行·珠江源卡</string>
	<string>曲靖市商业银行·珠江源IC卡</string>
	<string>温州银行·金鹿信用卡</string>
	<string>温州银行·金鹿信用卡</string>
	<string>温州银行·金鹿公务卡</string>
	<string>温州银行·贷记IC卡</string>
	<string>汉口银行·汉口银行贷记卡</string>
	<string>汉口银行·汉口银行贷记卡</string>
	<string>汉口银行·九通香港旅游贷记普卡</string>
	<string>汉口银行·九通香港旅游贷记金卡</string>
	<string>汉口银行·贷记卡</string>
	<string>汉口银行·九通公务卡</string>
	<string>江苏银行·聚宝借记卡</string>
	<string>江苏银行·月季卡</string>
	<string>江苏银行·紫金卡</string>
	<string>江苏银行·绿扬卡(银联卡)</string>
	<string>江苏银行·月季卡(银联卡)</string>
	<string>江苏银行·九州借记卡(银联卡)</string>
	<string>江苏银行·月季卡(银联卡)</string>
	<string>江苏银行·聚宝惠民福农卡</string>
	<string>江苏银行·江苏银行聚宝IC借记卡</string>
	<string>江苏银行·聚宝IC借记卡VIP卡</string>
	<string>长治市商业银行·长治商行银联晋龙卡</string>
	<string>承德市商业银行·热河卡</string>
	<string>承德银行·借记IC卡</string>
	<string>德州银行·长河借记卡</string>
	<string>德州银行·--</string>
	<string>遵义市商业银行·社保卡</string>
	<string>遵义市商业银行·尊卡</string>
	<string>邯郸市商业银行·邯银卡</string>
	<string>邯郸市商业银行·邯郸银行贵宾IC借记卡</string>
	<string>安顺市商业银行·黄果树福农卡</string>
	<string>安顺市商业银行·黄果树借记卡</string>
	<string>江苏银行·紫金信用卡(公务卡)</string>
	<string>江苏银行·紫金信用卡</string>
	<string>江苏银行·天翼联名信用卡</string>
	<string>平凉市商业银行·广成卡</string>
	<string>玉溪市商业银行·红塔卡</string>
	<string>玉溪市商业银行·红塔卡</string>
	<string>浙江民泰商业银行·金融IC卡</string>
	<string>浙江民泰商业银行·民泰借记卡</string>
	<string>浙江民泰商业银行·金融IC卡C卡</string>
	<string>浙江民泰商业银行·银联标准普卡金卡</string>
	<string>浙江民泰商业银行·商惠通</string>
	<string>上饶市商业银行·三清山卡</string>
	<string>东营银行·胜利卡</string>
	<string>泰安市商业银行·岱宗卡</string>
	<string>泰安市商业银行·市民一卡通</string>
	<string>浙江稠州商业银行·义卡</string>
	<string>浙江稠州商业银行·义卡借记IC卡</string>
	<string>浙江稠州商业银行·公务卡</string>
	<string>自贡市商业银行·借记IC卡</string>
	<string>自贡市商业银行·锦程卡</string>
	<string>鄂尔多斯银行·天骄公务卡</string>
	<string>鹤壁银行·鹤卡</string>
	<string>许昌银行·连城卡</string>
	<string>铁岭银行·龙凤卡</string>
	<string>乐山市商业银行·大福卡</string>
	<string>乐山市商业银行·--</string>
	<string>长安银行·长长卡</string>
	<string>长安银行·借记IC卡</string>
	<string>重庆三峡银行·财富人生卡</string>
	<string>重庆三峡银行·借记卡</string>
	<string>石嘴山银行·麒麟借记卡</string>
	<string>石嘴山银行·麒麟借记卡</string>
	<string>石嘴山银行·麒麟公务卡</string>
	<string>盘锦市商业银行·鹤卡</string>
	<string>盘锦市商业银行·盘锦市商业银行鹤卡</string>
	<string>平顶山银行·平顶山银行公务卡</string>
	<string>朝阳银行·鑫鑫通卡</string>
	<string>朝阳银行·朝阳银行福农卡</string>
	<string>朝阳银行·红山卡</string>
	<string>宁波东海银行·绿叶卡</string>
	<string>遂宁市商业银行·锦程卡</string>
	<string>遂宁是商业银行·金荷卡</string>
	<string>保定银行·直隶卡</string>
	<string>保定银行·直隶卡</string>
	<string>凉山州商业银行·锦程卡</string>
	<string>凉山州商业银行·金凉山卡</string>
	<string>漯河银行·福卡</string>
	<string>漯河银行·福源卡</string>
	<string>漯河银行·福源公务卡</string>
	<string>达州市商业银行·锦程卡</string>
	<string>新乡市商业银行·新卡</string>
	<string>晋中银行·九州方圆借记卡</string>
	<string>晋中银行·九州方圆卡</string>
	<string>驻马店银行·驿站卡</string>
	<string>驻马店银行·驿站卡</string>
	<string>驻马店银行·公务卡</string>
	<string>衡水银行·金鼎卡</string>
	<string>衡水银行·借记IC卡</string>
	<string>周口银行·如愿卡</string>
	<string>周口银行·公务卡</string>
	<string>阳泉市商业银行·金鼎卡</string>
	<string>阳泉市商业银行·金鼎卡</string>
	<string>宜宾市商业银行·锦程卡</string>
	<string>宜宾市商业银行·借记IC卡</string>
	<string>库尔勒市商业银行·孔雀胡杨卡</string>
	<string>雅安市商业银行·锦城卡</string>
	<string>雅安市商业银行·--</string>
	<string>安阳银行·安鼎卡</string>
	<string>信阳银行·信阳卡</string>
	<string>信阳银行·公务卡</string>
	<string>信阳银行·信阳卡</string>
	<string>华融湘江银行·华融卡</string>
	<string>华融湘江银行·华融卡</string>
	<string>营口沿海银行·祥云借记卡</string>
	<string>景德镇商业银行·瓷都卡</string>
	<string>哈密市商业银行·瓜香借记卡</string>
	<string>湖北银行·金牛卡</string>
	<string>湖北银行·汉江卡</string>
	<string>湖北银行·借记卡</string>
	<string>湖北银行·三峡卡</string>
	<string>湖北银行·至尊卡</string>
	<string>湖北银行·金融IC卡</string>
	<string>西藏银行·借记IC卡</string>
	<string>新疆汇和银行·汇和卡</string>
	<string>广东华兴银行·借记卡</string>
	<string>广东华兴银行·华兴银联公司卡</string>
	<string>广东华兴银行·华兴联名IC卡</string>
	<string>广东华兴银行·华兴金融IC借记卡</string>
	<string>濮阳银行·龙翔卡</string>
	<string>宁波通商银行·借记卡</string>
	<string>甘肃银行·神舟兴陇借记卡</string>
	<string>甘肃银行·甘肃银行神州兴陇IC卡</string>
	<string>枣庄银行·借记IC卡</string>
	<string>本溪市商业银行·借记卡</string>
	<string>盛京银行·医保卡</string>
	<string>上海农商银行·如意卡(银联卡)</string>
	<string>上海农商银行·如意卡(银联卡)</string>
	<string>上海农商银行·鑫通卡</string>
	<string>上海农商银行·国际如意卡</string>
	<string>上海农商银行·借记IC卡</string>
	<string>常熟市农村商业银行·粒金贷记卡(银联卡)</string>
	<string>常熟市农村商业银行·公务卡</string>
	<string>常熟市农村商业银行·粒金准贷卡</string>
	<string>常熟农村商业银行·粒金借记卡(银联卡)</string>
	<string>常熟农村商业银行·粒金IC卡</string>
	<string>常熟农村商业银行·粒金卡</string>
	<string>深圳农村商业银行·信通卡(银联卡)</string>
	<string>深圳农村商业银行·信通商务卡(银联卡)</string>
	<string>深圳农村商业银行·信通卡</string>
	<string>深圳农村商业银行·信通商务卡</string>
	<string>广州农村商业银行·福农太阳卡</string>
	<string>广东南海农村商业银行·盛通卡</string>
	<string>广东南海农村商业银行·盛通卡(银联卡)</string>
	<string>佛山顺德农村商业银行·恒通卡(银联卡)</string>
	<string>佛山顺德农村商业银行·恒通卡</string>
	<string>佛山顺德农村商业银行·恒通卡(银联卡)</string>
	<string>江阴农村商业银行·暨阳公务卡</string>
	<string>江阴市农村商业银行·合作贷记卡(银联卡)</string>
	<string>江阴农村商业银行·合作借记卡</string>
	<string>江阴农村商业银行·合作卡(银联卡)</string>
	<string>江阴农村商业银行·暨阳卡</string>
	<string>重庆农村商业银行·江渝借记卡VIP卡</string>
	<string>重庆农村商业银行·江渝IC借记卡</string>
	<string>重庆农村商业银行·江渝乡情福农卡</string>
	<string>东莞农村商业银行·信通卡(银联卡)</string>
	<string>东莞农村商业银行·信通卡(银联卡)</string>
	<string>东莞农村商业银行·信通信用卡</string>
	<string>东莞农村商业银行·信通借记卡</string>
	<string>东莞农村商业银行·贷记IC卡</string>
	<string>张家港农村商业银行·一卡通(银联卡)</string>
	<string>张家港农村商业银行·一卡通(银联卡)</string>
	<string>张家港农村商业银行·</string>
	<string>北京农村商业银行·信通卡</string>
	<string>北京农村商业银行·惠通卡</string>
	<string>北京农村商业银行·凤凰福农卡</string>
	<string>北京农村商业银行·惠通卡</string>
	<string>北京农村商业银行·中国旅行卡</string>
	<string>北京农村商业银行·凤凰卡</string>
	<string>天津农村商业银行·吉祥商联IC卡</string>
	<string>天津农村商业银行·信通借记卡(银联卡)</string>
	<string>天津农村商业银行·借记IC卡</string>
	<string>鄞州农村合作银行·蜜蜂借记卡(银联卡)</string>
	<string>宁波鄞州农村合作银行·蜜蜂电子钱包(IC)</string>
	<string>宁波鄞州农村合作银行·蜜蜂IC借记卡</string>
	<string>宁波鄞州农村合作银行·蜜蜂贷记IC卡</string>
	<string>宁波鄞州农村合作银行·蜜蜂贷记卡</string>
	<string>宁波鄞州农村合作银行·公务卡</string>
	<string>成都农村商业银行·福农卡</string>
	<string>成都农村商业银行·福农卡</string>
	<string>珠海农村商业银行·信通卡(银联卡)</string>
	<string>太仓农村商业银行·郑和卡(银联卡)</string>
	<string>太仓农村商业银行·郑和IC借记卡</string>
	<string>无锡农村商业银行·金阿福</string>
	<string>无锡农村商业银行·借记IC卡</string>
	<string>黄河农村商业银行·黄河卡</string>
	<string>黄河农村商业银行·黄河富农卡福农卡</string>
	<string>黄河农村商业银行·借记IC卡</string>
	<string>天津滨海农村商业银行·四海通卡</string>
	<string>天津滨海农村商业银行·四海通e芯卡</string>
	<string>武汉农村商业银行·汉卡</string>
	<string>武汉农村商业银行·汉卡</string>
	<string>武汉农村商业银行·中国旅游卡</string>
	<string>江南农村商业银行·阳湖卡(银联卡)</string>
	<string>江南农村商业银行·天天红火卡</string>
	<string>江南农村商业银行·借记IC卡</string>
	<string>海口联合农村商业银行·海口联合农村商业银行合卡</string>
	<string>湖北嘉鱼吴江村镇银行·垂虹卡</string>
	<string>福建建瓯石狮村镇银行·玉竹卡</string>
	<string>浙江平湖工银村镇银行·金平卡</string>
	<string>重庆璧山工银村镇银行·翡翠卡</string>
	<string>重庆农村商业银行·银联标准贷记卡</string>
	<string>重庆农村商业银行·公务卡</string>
	<string>南阳村镇银行·玉都卡</string>
	<string>晋中市榆次融信村镇银行·魏榆卡</string>
	<string>三水珠江村镇银行·珠江太阳卡</string>
	<string>东营莱商村镇银行·绿洲卡</string>
	<string>建设银行·单位结算卡</string>
	<string>玉溪市商业银行·红塔卡</string>
</array>
</plist>
